#Footer {
	padding: 0;
	margin: 0;
}
.Footer__img {
	background: url('../imgShopping/ShoppingHo.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
	width: 100%;
	max-width: 100%;
	min-height: 200px;
	background-attachment: fixed;
	position: relative;
	color: #fff;
	transition: 1s;
	opacity: .8;
	// linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712))
}
.Footer {
	text-align: center;
	&__Center {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: rgb(0, 0, 0);
		height: 60vh;
		opacity: 0.6;
		// align-items: center;
	}
	h5 {
		text-transform: uppercase;
		letter-spacing: 2px;
		padding-top: 2em;
	}
	&__Icons {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 20px;
		font-size: 25px;

		div {
			// border: 0.6px solid orange;
			padding: 4px 15px;
		}
		div:hover {
			animation: icons 2s linear infinite;
		}
	}

	@keyframes icons {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
button :active,
button:visited,
button:link {
	outline: none;
	border: none;
}
