

a {
	text-decoration: none;
}
ul {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
}
.btns {
	cursor: pointer;
	padding: 0.5em 1.5em;
	border: 1px solid $parimary-color;
	width: 20%;
	border-radius: 20px;
	color: #fff;
	color: $parimary-color;
	text-decoration: none;
	// font-size: 17px;
	letter-spacing: 0.2em;
	text-align: center;
	transition: 1.5s;
}
.dbtn,
.btns:hover {
	background-color: rgb(231, 157, 19);
	text-decoration: none;
	color: #fff;
}
.Header {
	background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)), url('../imgShopping/ShoppingHome1.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	width: 100%;
	max-width: 100%;
	min-height: 200px;
	background-attachment: fixed;
	position: relative;
	color: #fff;
	transition: 1s;
	// &:after {
	// 	content: '';
	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	// background-color: rgba(0, 0, 0, 0.7);
	// 	// background-color: rgba(3, 2, 2, 0.7);
	// }
	&__Text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		font-weight: normal !important;
		h1 {
			font-size: 3em;
			letter-spacing: 0.1em;
		}
		p {
			font-size: 1.1em;
			letter-spacing: 0.1em;
		}
	}
}

.fe {
	text-align: center;

	margin: 3rem;
	font-weight: normal;

	h1 {
		font-size: 2rem;
		letter-spacing: 1.2px;
		margin-bottom: 2rem;
		text-transform: uppercase;
		span {
			color: $parimary-color;
		}
	}
	h1::after {
		content: '  ';
		display: block;
		background-color: rgb(231, 157, 19);
		height: 3px;
		width: 200px;
		margin: 15px auto;
	}
	p {
		text-align: justify;
		font-size: 1.1rem;
		word-spacing: 1.1px;
		letter-spacing: 0.4px;
		// padding: 2em;
	}
}

.List {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	&__Item__Container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		&--Icon {
			color: $parimary-color;
			font-size: 5rem;
		}

		&--Num {
			margin: 3px 0px;
		}
		&--Des {
			margin: 4px 0px;
			padding: 4px 0px;
		}
	}
}

#Features {
	margin: 30px 0px;
	&__Heading {
		margin: 5rem;
		text-align: center;
	}
	&__Heading::after {
		content: '';
		background: $parimary-color;
		display: block;
		height: 2px;
		width: 30px;
		margin: 0 auto;
	}
}
.Features {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	&__Items {
		margin: 5rem 0px;
		h1 {
			font-size: 1.5rem;
		}
		p {
			font-size: 0.8rem;
		}
	}
}
#Free__Download {
	text-align: center;
	height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
	h1::after {
		content: '';
		display: block;
		background: $parimary-color;
		width: 40px;
		height: 2px;
		margin: 10px auto;
	}
	p {
		font-size: 1.5em;
	}
	a {
	}
}

.MULTIPLE__LISTS {
	display: flex;
	justify-content: space-around;
	&__Image {
		width: 40%;
	}
	&__Text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: justify;
		h2 {
			font-size: 36px;
			line-height: 48px;
		}
		h2::after {
			content: '';
			display: block;
			background: $parimary-color;
			width: 40px;
			height: 7px;
			// margin: 10px auto;
			margin: 1.5rem 0px;
		}
		p {
			font-size: 18px;
			font-weight: 300;
			line-height: 1.75em;
		}
		ul {
			color: #303c40;
		}
	}
	li {
		position: relative;
		padding-bottom: 30px;
	}
	// li:before {
	// 	color: #72b4b6;
	// 	// font-family: "feather";
	// 	content: "\e116";
	// 	position: absolute;
	// 	left: -24px;
	// }
}

#Free__Download {
	margin: 0;
	margin-top: 60px;
	height: 40vh;
	padding: 190px 0px;
	font-weight: normal;
	p {
		font-size: 18px;
		padding: 20px 0px;
		line-height: 3em;
	}
}
.carousel-inner > .item {
	position: relative !important;
	display: none !important;
	-webkit-transition: 0.3s ease-in-out left !important;
	-moz-transition: 0.3s ease-in-out left !important;
	-o-transition: 0.3s ease-in-out left !important;
	transition: 0.3s ease-in-out left !important;
}
.dark {
	// background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712));
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0 auto;
	width: 60vw;
	background-attachment: fixed;
	position: relative;
	color: #fff;
	transition: 1s;
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		height: 70vh;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}
}
.ImageDiv {
	overflow: hidden;
	height: 70vh;

}
